.container{
    flex: 1;
}


.nums{
    width: 450px;  
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
    position: relative;
}

.nums::before{
    content: "";
    width: 450px;
    height: 3px;
    background-color: #D1D1D1;
    position: absolute;
    transform: translateY(10px);
    z-index: -1;
}

.progress{
    height: 3px;
    width: 15%;
    background-color: #FCC822;
    position: absolute;
    transform: translateY(10px);
    z-index: -1;
    
}

.num{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #333333;
    background-color:#D1D1D1 ;
    border: 4px solid #BDBDBD;
    text-align: center;
    line-height: 20px;
    color: #33333350;
}

.active{
    border: 4px solid #FCC822;
    background-color: #fff;
    color: #333333;
}

.task{
    margin-top: 100px;
    width: 100vw;
    align-items: stretch;
    min-height: 200px;
    background-color: #FCC822;
    color: white;
    text-align: center;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.answers{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    gap: 10px;
}

.answer{
    min-width: 150px;
    flex: 1;
    min-height: 80px;
    background-color: #D1D1D1;
    color: #333333;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
}

.answer:hover{
    background-color: #ffdd6c;
    color: white;
}

.answer:active{
    background-color: #ffb429;
    
}

input[type="radio"]:checked+.answer{
    background-color: #FCC822;
    color: white;  
}

input[type="radio"]{
    display: none;
}

.bottoms{
    margin-top: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.btn{
    width: 150px;
    height: 35px;
    background-color: #D1D1D1;
    color: #333333;
    text-align: center;
    line-height: 35px;
    position: relative;
}


.btn:hover{
    background-color: #FCC822;
    color: white;
}

.pass{
    color:  #FCC822;
    position: absolute;
    right: 50px;
}


.display_none{
    display: none;
}


.time{
    background-image: url(assets/svg/clock.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
}
